#myCarousel {
    background-color: black;

    border-radius: 15px;
    width: 700px;
    display: block;
    margin: auto;
}

#myCarousel img {
    height: 400px;
    width: 500px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.carousel-inner p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
    z-index: 5;
}

.container {
    background-color: cadetblue;
    text-align: center;
}

#gridimage1,
#gridimage2,
#gridimage3,
#gridimage4,
#gridimage5,
#gridimage6 {
    width: 350px;
    height: 200px;
    border-radius: 25px;
}
